/* 自定义样式 */

/* 标题样式 */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

/* 联系方式外框样式 */
.contact-methods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.contact-method {
    flex-basis: calc(33.33% - 20px);
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center; /* 让内容居中 */
    text-decoration: none; /* 移除链接默认样式 */
}

.contact-method:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* 图标样式 */
.icon {
    font-size: 48px;
    margin-right: 20px;
}

/* 联系信息样式 */
.contact-info {
    flex: 1;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.detail {
    position: relative;
    color: #fff;
    margin: 4px 0;
    font-size: 15px;
}

.detail a { 
    z-index: 1;
    color: #fff;
    text-decoration: none;
}
.input a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
/* 其他信息样式 */
.additional-info {
    text-align: center;
}

.additional-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.additional-info p {
    margin-bottom: 15px;
    color: #666;
}

.contact-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff; /* 按钮背景色蓝色 */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: #fff; /* 按钮字体颜色白色 */
}

.contact-btn:hover {
    background-color: #0056b3; /* 按钮背景色深蓝色 */
    color: #fff; /* 按钮字体颜色白色 */
}

/* 添加渐变背景色和图标颜色 */
.contact-email { background: linear-gradient(to right, #007bff, #00bfff); }
.contact-social { background: linear-gradient(to right, #7ed56f, #28b485); } /* 更换绿色 */
.contact-qq { background: linear-gradient(to right, #f76c6c, #fd7e14); } /* 更换橙色 */

/* 动画效果 */
.contact-method::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(-45deg);
    transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}

.contact-method:hover::before {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
}

/* 在手机端添加的样式 */
@media (max-width: 768px) {
    .contact-methods {
        justify-content: center; /* 居中显示 */
    }

    .contact-method {
        flex-basis: 100%; /* 每行只显示一个 */
        max-width: 100%; /* 最大宽度100% */
    }
}
